@section Scripts{

    <link href="~/Maps/dist/jqvmap.css" media="screen" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="~/Maps/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="~/Maps/dist/jquery.vmap.js"></script>
    <script type="text/javascript" src="~/Maps/dist/maps/jquery.vmap.moldova.js" charset="utf-8"></script>
    <script type="text/javascript" src="~/Maps/map.js"></script>
}

<section class="u-clearfix u-section-1" id="sec-4afa">
    <div class="u-clearfix u-sheet u-sheet-1">
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Republica Moldova</h1>
        </div>
        <center>
            <center><div id="vmap" style="width: 700px; height: 500px;"></div></center>
        </center>
        <!-- Content Row -->
        <div class="row text-center">

            <!-- Population -->
            <div class="col-md-4 col-md-offset-1 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Population</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.Population</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-people-arrows fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Voters -->
            <div class="col-md-4 col-md-offset-1  mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Voters</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.Votants</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-person-booth fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Participation -->
            <div class="col-md-4 col-md-offset-2  mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Participation</div>
                                <div class="row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">@ViewBag.Percentage%</div>
                                    </div>
                                    <div class="col">
                                        <div class="progress progress-sm mr-2">
                                            <div class="progress-bar bg-info" role="progressbar" style="width: @ViewBag.Percentage%" aria-valuenow="@ViewBag.Percentage" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Content Row -->

        <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-8 col-lg-7">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Total votes</h6>
                        <div class="dropdown no-arrow">
                        </div>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <center>
                            <div style="width:100%">
                                <canvas id="myChart" style="padding: 0;margin: auto;display: block; "> </canvas>
                            </div>
                        </center>
                    </div>
                </div>
            </div>

            <!-- Pie Chart -->
            <div class="col-xl-4 col-lg-5">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Sexul</h6>
                        <div class="dropdown no-arrow">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                            </a>

                        </div>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <div class="chart-pie pt-4 pb-2">
                            <canvas id="myPieChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    <script type="text/javascript" src="~/js/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>

    <script type="text/javascript">
            $(function() {
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("Getgenderstatistic", "Results")',
                    dataType: "json",
                }).done(function(data) {
                    var labelsArray = data.male;
                    var dataArray = data.female;
                    debugger;
                    myPieChart(labelsArray, dataArray);
                });
            });
    </script>

    <script type="text/javascript">
            $(function() {
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("Getstatus", "Results")',
                    dataType: "json",
                }).done(function(data) {
                    var labelsArray = [];
                    var dataArray = [];

                    $.each(data,
                        function(index, data1) {

                            labelsArray.push(data1.idParty);
                            dataArray.push(data1.votes);
                        });

                    renderChart(labelsArray, dataArray);
                });
            });
    </script>
    <script src="~/js//myPieChart.js"></script>
    <script src="~/js/renderchart.js"></script>
